.how-it-works {
  display: flex;
  width: 100%;
  column-gap: 2%;
}

.how-it-works__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-basis: 54%;
}

.how-it-works__title {
  margin: 0 0 40px;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #F5F6F7;
}

.how-it-works__text {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #EEEEEE;
}

.how-it-works__scheme {
  display: flex;
  flex-basis: 46%;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  max-height: 300px;
  min-height: 193px;
}

.how-it-works__scheme-square {
  position: relative;
  flex-basis: 14.75%;
  max-height: 93px;
  max-width: 93px;
  min-width: 49px;
  min-height: 49px;
}

.how-it-works__scheme-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.how-it-works__scheme-square-inlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8D231;
}

.how-it-works__scheme-line {
  flex-basis: 43.95%;
  height: 0;
  border-top: 1px dashed #919E9F;
}

.how-it-works__scheme-lines {
  flex-basis: 23.4%;
  height: 50%;
  border: 1px dashed #919E9F;
  border-right: none;
}

.how-it-works__scheme-wrapper {
  flex-basis: 17.85%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  justify-items: center;
  row-gap: 25px;
}

.how-it-works__scheme-icon-box {
  position: relative;
  max-height: 112px;
  max-width: 112px;
  min-width: 59px;
  min-height: 59px;
}

.how-it-works__scheme-icon-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.how-it-works__scheme-icon {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #323033;
  padding: 10%;
}

@media (max-width: 650px) {
  .how-it-works {
    flex-direction: column;
  }

  .how-it-works__title {
    font-size: 36px;
    line-height: 110%;
  }

  .how-it-works__scheme-lines {
    min-height: 80px;
  }
}
