.button:hover {
  cursor: pointer;
}

.player__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: calc(100% - 40px);
  height: 198px;
  background: #CFD3D6;
  position: relative;
}

.player__button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  background: none;
}

.player__button {
  cursor: pointer;
}

.player__button:hover svg path {
  fill: #e6e6e6;
}

.player__button:hover svg rect {
  fill: #e6e6e6;
}

.player__progress-bar {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 10px;
}

.player__progress-bar:hover input::-webkit-slider-runnable-track {
  height: 4px;
}

.player__progress-bar:hover input::-webkit-slider-thumb {
  width: 18px;
  height: 14px;
  margin-top: -5px;
}

.player__progress-bar:hover span {
  height: 4px;
}

.player__progress-bar input {
  width: 100%;
  position: absolute;
  -webkit-appearance: none;
  background-size: 0 100%;
  transition: all 0s;
  background: transparent linear-gradient(90deg, #FFFFFF, #FFFFFF) no-repeat;
}

.player__progress-bar input::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.player__progress-bar input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 12px;
  border-radius: 6px;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -5px;
}

.player__progress-bar input::-webkit-slider-thumb:hover {
  width: 18px;
  height: 14px;
  margin-top: -6px;
}

.player__progress-bar span {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #ADACAD linear-gradient(90deg, #878787, #878787) no-repeat;
  background-size: 0 100%;
  transition: all 0s;
}

.player__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #1B191C;
  cursor: pointer;
}

.player__title:hover {
  color: #919E9F;
}

.player__volume-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__volume-control {
  display: flex;
  align-items: center;
  width: 252px;
  position: relative;
  height: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .player__volume-control {
    width: 191px;
  }
}

.player__volume-control:hover input::-webkit-slider-runnable-track {
  height: 4px;
}

.player__volume-control:hover input::-webkit-slider-thumb {
  width: 18px;
  height: 14px;
  margin-top: -5px;
}

.player__volume-control input {
  width: 100%;
  -webkit-appearance: none;
  background-size: 0 100%;
  transition: background-size 0s;
  background: #FFFFFF linear-gradient(90deg, #000000, #000000) no-repeat;
  cursor: pointer;
}

.player__volume-control input::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 2px;
  background: transparent;
}

.player__volume-control input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 12px;
  border-radius: 0;
  background: #000000;
  cursor: pointer;
  margin-top: -5px;
}

.player__volume-control input::-webkit-slider-thumb:hover {
  width: 18px;
  height: 14px;
  margin-top: -6px;
}

.player__timer {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #1B191C;
}
