.pricing {
  padding: 120px 40px;
  color: #F5F6F7;
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}

/*.about__requirements-cover {*/
/*  width: 100%;*/
/*  !*overflow-x: scroll;*!*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  align-items: flex-start;*/
/*  justify-content: flex-start;*/
/*}*/

/*.about__requirements-list, .about__requirements-tab {*/
/*  display: none;*/
/*}*/

/*.about__requirements-list {*/
/*  width: calc(100% - 40px);*/
/*  max-width: 100%;*/
/*  padding: 20px;*/
/*  order: 1;*/
/*  list-style: none;*/
/*}*/

/*.about__requirements-tab-label {*/
/*  display: flex;*/
/*  height: 35px;*/
/*  line-height: 35px;*/
/*  min-width: 50px;*/
/*  max-width: max-content;*/
/*  padding: 0px 20px;*/
/*  text-align: center;*/
/*  !*color: #fff;*!*/
/*  white-space: nowrap;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-grow: 1;*/
/*  border-bottom: 3px solid transparent;*/
/*  cursor: pointer;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*}*/

/*.about__requirements-tab:checked + .about__requirements-tab-label {*/
/*  border-bottom: 3px solid #caeafb;*/
/*}*/

/*.about__requirements-tab:checked + .about__requirements-tab-label + .about__requirements-list {*/
/*  display: block;*/
/*}*/
